* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f5f7;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.w {
  width: 1200px;
  margin: auto;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.header {
  height: 42px;
  margin: 30px auto; /*此地层叠w里面的margin*/
}
.logo {
  float: left;
  width: 198px;
  height: 43px;
}
.logo a {
  display: block;
  width: 198px;
  height: 43px;
  background: url(./images/header-logo.png) no-repeat;
  font-size: 0;
}
.nav {
  float: left;
  margin: 0 72px 0 60px;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  display: block;
  height: 40px;
  padding: 0 23px;
  color: #050505;
  text-align: center;
  line-height: 40px;
}
.nav ul li a:hover {
  border-bottom: 3px solid #00a4ff;
  color: #00a4ff;
}
.search {
  float: left;
  height: 40px;
}
.search input {
  float: left;
  height: 38px;
  width: 340px;
  border: 1px solid #00a4ff;
  outline: none;
  color: #bfbfbf;
  font-size: 14px;
  padding-left: 20px;
}
.search button {
  float: left;
  width: 50px;
  height: 42px;
  border: 0;
  outline: none;
  background: url(images/header-nav-search.png) 0 -1px;
}
.user {
  float: right;
  margin: 6px 35px 0 0;
}
.user span {
  float: right;
  margin: 8px 0 0 8px;
  line-height: 14px;
  font-size: 14px;
  color: #666;
}
.banner {
  position: relative;
  height: 421px;
  background-color: #1c036c;
}
.banner .w {
  height: 421px;
}
.banner .subnav {
  float: left;
  height: 421px;
  width: 193px;
  background: rgba(0, 0, 0, 0.2);
}
.banner .subnav li {
  margin: 30px 0 0 22px;
  line-height: 14px;
  font-size: 14px;
}
.banner .subnav li a {
  color: #fff;
}
.banner .subnav li a::after {
  content: ">";
  float: right;
  margin-right: 21px;
}
.banner .subnav li a:hover {
  color: #00b4ff;
}
.banner-pic-wrap {
  position: relative;
  float: left;
  width: 750px;
  height: 421px;
  margin-left: 13px;
  overflow: hidden;
}
.carousel {
  position: relative;
  width: 400%;
  height: 100%;
}
.banner-pic-wrap ul li {
  float: left;
  width: 25%;
  height: 100%;
}
.arrow {
  position: absolute;
  display: none;
  top: 46%;
  width: 20px;
  height: 20px;
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
}
.arrow:hover {
  cursor: pointer;
}
.arrow-l {
  left: 9px;
  transform: rotate(-45deg);
}
.arrow-r {
  right: 10px;
  transform: rotate(135deg);
}
.banner .carousel-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}
.banner .carousel-dots li {
  float: left;
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 17px;
  background-color: #64b6e6;
  border-radius: 50%;
}
.carousel-dots li:hover {
  cursor: pointer;
}
.banner .carousel-dots .active {
  width: 20px;
  background-color: #fafafa;
  border-radius: 8px;
}
.banner .course {
  float: right;
  width: 230px;
  height: 300px;
  margin-top: 50px;
}
.banner .course h2 {
  width: 230px;
  height: 50px;
  background-color: #9bceea;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 48px;
}
.banner .course .course-detail {
  height: 250px;
  background-color: #fff;
}
.banner .course .course-detail li {
  height: 30px;
  margin: 0 20px 0 20px;
  padding: 16px 0;
  border-bottom: 1px solid #eaeaea;
}
.banner .course .course-detail h4 {
  color: #4e4e4e;
  font-size: 16px;
  font-weight: 400;
}
.banner .course .course-detail p {
  color: #a5a5a5;
  font-size: 12px;
}
.banner .course .course-detail > a {
  display: block;
  width: 200px;
  height: 40px;
  margin: 6px 15px 13px 14px;
  border: 1px solid #00a4ff;
  color: #00a4ff;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
}
.recommendation-nav {
  height: 60px;
  margin-top: 8px;
  background-color: #fff;
  line-height: 60px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.recommendation-nav h3 {
  float: left;
  margin: 0 35px;
  color: #00a4ff;
  font-size: 16px;
}
.recommendation-nav ul {
  float: left;
}
.recommendation-nav ul li {
  float: left;
}
.recommendation-nav ul li a {
  padding: 0 35px;
  border-left: 1px solid #bfbfbf;
  color: #050505;
  font-size: 16px;
}
.recommendation-nav > a {
  float: right;
  margin-right: 27px;
  color: #00a4ff;
}
.recommendation {
  margin-top: 35px;
}
.recommendation-head {
  height: 22px;
  padding-right: 30px;
}
.recommendation-head h3 {
  float: left;
  font-size: 20px;
  font-weight: 400;
}
.recommendation-head a {
  float: right;
  color: #a5a5a5;
  font-size: 12px;
}
.recommendation ul {
  width: 1215px;
  margin-top: 20px;
}
.recommendation ul li {
  position: relative;
  float: left;
  width: 228px;
  height: 270px;
  margin: 0 15px 15px 0;
  background-color: #fff;
}
.recommendation ul li h4 {
  width: 185px;
  margin: 25px 0 20px 25px;
  color: #050505;
  font-size: 14px;
}
.recommendation ul li div {
  margin-left: 25px;
  color: #ff7c2d;
  font-size: 12px;
}
.recommendation ul li div span {
  margin-left: 10px;
  color: #999999;
}
.hot {
  position: absolute;
  top: 5px;
  right: -4px;
}
.coding-courses {
  margin-top: 35px;
}
.coding-courses-l {
  float: left;
}
.coding-courses-l-hd,
.coding-courses-r-hd {
  height: 40px;
  line-height: 40px;
}
.coding-courses-l-hd > h3 {
  float: left;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.coding-courses-r {
  float: right;
  width: 960px;
}

.coding-courses-r-hd > ul {
  float: left;
  margin: 0 300px 0 200px;
}
.coding-courses-r-hd > ul > li {
  float: left;
  margin-left: 70px;
  color: #868686;
  font-size: 16px;
}
.coding-courses-r-hd > ul > li:hover {
  cursor: pointer;
}

.coding-courses-r-hd .active-color {
  color: #00a4ff;
}
.coding-courses-r-hd > a {
  float: right;
  color: #a5a5a5;
  font-size: 12px;
}
.coding-courses-l-bd {
  display: block;
  width: 228px;
  height: 392px;
}
.coding-courses-r-bd {
  float: right;
}
.coding-courses-r-bd .tab-item-active {
  display: block;
}
.tab-item {
  display: none;
}
.coding-courses-r-bd-head {
  display: block;
  width: 957px;
  height: 100px;
  margin-left: 15px;
  margin-bottom: 25px;
}
.coding-courses-r-bd-bottom li {
  position: relative;
  float: left;
  width: 228px;
  height: 267px;
  margin-left: 15px;
  background-color: #fff;
}
.coding-courses-r-bd-bottom h4 {
  width: 185px;
  margin: 20px 25px 15px 25px;
  color: #050505;
  font-size: 14px;
  font-weight: 400;
}
.coding-courses-r-bd-bottom div {
  position: absolute;
  left: 25px;
  bottom: 20px;
  height: 15px;
  color: #ff7c2d;
  font-size: 12px;
}
.coding-courses-r-bd-bottom div span {
  margin-left: 5px;
  color: #999999;
}
.footer {
  height: 300px;
  margin-top: 40px;
  background-color: #fff;
}
.copyright {
  float: left;
  margin-top: 35px;
}
.copyright p {
  margin-top: 25px;
  color: #666;
  font-size: 12px;
}
.download {
  display: block;
  width: 118px;
  height: 33px;
  margin-top: 15px;
  border: 1px solid #00a4ff;
  color: #00a4ff;
  font-size: 16px;
  text-align: center;
  line-height: 33px;
}
.info {
  float: left;
  margin-top: 35px;
  margin-left: 95px;
}
.info dl {
  float: left;
  margin-left: 120px;
}
.info dt {
  margin-bottom: 15px;
}
.info dt > a {
  color: #333;
  font-size: 16px;
}
.info dd {
  margin-bottom: 10px;
}
.info dd > a {
  color: #333;
  font-size: 12px;
}
.career-plans-tag {
  position: fixed;
  top: 35%;
  width: 30px;
  height: 100px;
  padding-top: 15px;
  padding-left: 10px;
  background: rgba(28, 3, 108, 0.7);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.career-plans-tag a {
  color: #fff;
}
.career-plans-tag:hover .career-plans {
  display: block;
}
.career-plans {
  display: none;
  position: fixed;
  top: 25%;
  left: 0;
  padding: 10px 10px 0 10px;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.career-plans li {
  margin-bottom: 10px;
}
.career-plans a {
  color: #4e4e4e;
}
