* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f5f7;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.w {
  width: 1200px;
  margin: auto;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.header {
  height: 42px;
  margin: 30px auto; /*此地层叠w里面的margin*/
}
.logo {
  float: left;
  width: 198px;
  height: 43px;
}
.nav {
  float: left;
  margin: 0 72px 0 60px;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  display: block;
  height: 40px;
  padding: 0 23px;
  color: #050505;
  text-align: center;
  line-height: 40px;
}
.nav ul li a:hover {
  border-bottom: 3px solid #00a4ff;
  color: #00a4ff;
}
.search {
  float: left;
  height: 40px;
}
.search input {
  float: left;
  height: 38px;
  width: 340px;
  border: 1px solid #00a4ff;
  outline: none;
  color: #bfbfbf;
  font-size: 14px;
  padding-left: 20px;
}
.search button {
  float: left;
  width: 50px;
  height: 42px;
  border: 0;
  background: url(images/header-nav-search.png) 0 -1px;
}
.user {
  float: right;
  margin: 6px 35px 0 0;
}
.user span {
  float: right;
  margin: 8px 0 0 8px;
  line-height: 14px;
  font-size: 14px;
  color: #666;
}
.banner {
  height: 421px;
  background-color: #1c036c;
}
.banner .w {
  height: 421px;
  background: url(images/banner-background.png) no-repeat top center;
}
.banner .subnav {
  float: left;
  height: 421px;
  width: 193px;
  background: rgba(0, 0, 0, 0.2);
}
.banner .subnav li {
  margin: 30px 0 0 22px;
  line-height: 14px;
  font-size: 14px;
}
.banner .subnav li a {
  color: #fff;
}
.banner .subnav li a:hover {
  color: #00b4ff;
}
.banner .subnav li span {
  float: right;
  margin-right: 21px;
}
.banner .course {
  float: right;
  width: 230px;
  height: 300px;
  margin-top: 50px;
}
.banner .course h2 {
  width: 230px;
  height: 50px;
  background-color: #9bceea;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 48px;
}
.banner .course .course-detail {
  height: 250px;
  background-color: #fff;
}
.banner .course .course-detail li {
  height: 30px;
  margin: 0 20px 0 20px;
  padding: 16px 0;
  border-bottom: 1px solid #eaeaea;
}
.banner .course .course-detail h4 {
  color: #4e4e4e;
  font-size: 16px;
  font-weight: 400;
}
.banner .course .course-detail p {
  color: #a5a5a5;
  font-size: 12px;
}
.banner .course .course-detail a {
  display: block;
  width: 200px;
  height: 40px;
  margin: 6px 15px 13px 14px;
  border: 1px solid #00a4ff;
  color: #00a4ff;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
}
.recommendation-nav {
  height: 60px;
  margin-top: 8px;
  background-color: #fff;
  line-height: 60px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.recommendation-nav h3 {
  float: left;
  margin: 0 35px;
  color: #00a4ff;
  font-size: 16px;
}
.recommendation-nav ul {
  float: left;
}
.recommendation-nav ul li {
  float: left;
}
.recommendation-nav ul li a {
  padding: 0 35px;
  border-left: 1px solid #bfbfbf;
  color: #050505;
  font-size: 16px;
}
.recommendation-nav > a {
  float: right;
  margin-right: 27px;
  color: #00a4ff;
}
.recommendation {
  margin-top: 35px;
}
.recommendation-head {
  height: 22px;
  padding-right: 30px;
}
.recommendation-head h3 {
  float: left;
  font-size: 20px;
  font-weight: 400;
}
.recommendation-head a {
  float: right;
  color: #a5a5a5;
  font-size: 12px;
}
.recommendation ul {
  width: 1215px;
  margin-top: 20px;
}
.recommendation ul li {
  float: left;
  width: 228px;
  height: 270px;
  margin: 0 15px 15px 0;
  background-color: #fff;
}
.recommendation ul li h4 {
  width: 185px;
  margin: 25px 0 20px 25px;
  color: #050505;
  font-size: 14px;
}
.recommendation ul li div {
  margin-left: 25px;
  color: #ff7c2d;
  font-size: 12px;
}
.recommendation ul li div span {
  margin-left: 10px;
  color: #999999;
}
.coding-courses {
  margin-top: 35px;
}
.coding-courses-head {
  height: 40px;
}
.coding-courses-head > h3 {
  float: left;
  margin-right: 300px;
  color: #494949;
  font-size: 20px;
  font-weight: 400;
}
.coding-courses-head > ul {
  float: left;
}
.coding-courses-head > ul > li {
  float: left;
  margin-left: 70px;
}
.coding-courses-head > ul > li > a {
  color: #868686;
  font-size: 16px;
}
.coding-courses-head .active-color {
  color: #00a4ff;
}
.coding-courses-head > a {
  float: right;
  color: #a5a5a5;
  font-size: 12px;
}
.coding-courses-body-left {
  float: left;
  width: 228px;
  height: 392px;
  background: url(./images/coding-courses-left.png) no-repeat;
}
.coding-courses-body-right {
  float: right;
}
.coding-courses-body-right-head {
  width: 957px;
  height: 100px;
  margin-left: 15px;
  margin-bottom: 25px;
  background: url(./images/coding-courses-right-top.png) no-repeat;
}
.coding-courses-body-right-bottom li {
  float: left;
  width: 228px;
  height: 267px;
  margin-left: 15px;
  background-color: #fff;
}
.coding-courses-body-right-bottom h4 {
  width: 185px;
  margin: 20px 25px 15px 25px;
  color: #050505;
  font-size: 14px;
  font-weight: 400;
}
.coding-courses-body-right-bottom div {
  margin-left: 25px;
  height: 15px;
  color: #ff7c2d;
  font-size: 12px;
}
.coding-courses-body-right-bottom div span {
  margin-left: 5px;
  color: #999999;
}
.footer {
  height: 415px;
  margin-top: 40px;
  background-color: #fff;
}
.copyright {
  float: left;
  margin-top: 35px;
}
.copyright p {
  margin-top: 25px;
  color: #666;
  font-size: 12px;
}
.copyright a {
  display: block;
  width: 118px;
  height: 33px;
  margin-top: 15px;
  border: 1px solid #00a4ff;
  color: #00a4ff;
  font-size: 16px;
  text-align: center;
  line-height: 33px;
}
.info {
  float: left;
  margin-top: 35px;
  margin-left: 95px;
}
.info dl {
  float: left;
  margin-left: 120px;
}
.info dt {
  margin-bottom: 15px;
}
.info dt > a {
  color: #333;
  font-size: 16px;
}
.info dd {
  margin-bottom: 10px;
}
.info dd > a {
  color: #333;
  font-size: 12px;
}
